
*{
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    background-image: url('../perpustakaan/perpus1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    
}
h2{
    text-align: center;
    background-color: grey;
    
}
body{
    text-align: center;
}
form{
    margin: 30px;
}
h1{
    text-align: center;  
    background-color:gray;
}
h2{
    margin: 20px;
    text-align: center;
    background-color: gray;
}
h4{
    margin: 10px;
    text-decoration: underline;
    font-weight: bold;
    text-align: center;
}
.sidebar{
    margin: 0;
    list-style-type: none;
    position: fixed;
    width: 240px;
    height: 100%;
    left: 0;
    background-color: black;
}
.sidebar text{
    color:brown;
    font-size: 20px;
    font-weight: 200px;
    text-align: center;
    background-color: aliceblue;
    letter-spacing: 1px;
}
nav ul{

    height: 100%;
    width: 100%;
    list-style: none;

}

nav ul li {
    line-height: 60px;
    border-bottom: 1px solid rgba(rgb(255, 255, 255), rgb(255, 255, 255), rgb(247, 247, 247), alpha);
}
nav ul li a{
    color:rgb(112, 53, 17);
    text-decoration: none;
    font-size: 18px;
    padding-left: 0;
    font-weight: 400;
    display: block;
    width: 100%;
    border-left: 3px solid transparent;
}
nav ul li a:hover{
    color:aliceblue;
    background:black ;
    border border-left-color: cyan;
}
nav ul ul{
    line-height: 42px;
    border-bottom: none;
    
}
nav ul ul a{
   font-size: 17px;
   color: rgb(104, 104, 3);
   padding: left 100px; ;
}
article{
    float: left;
    padding: 20px;
    width: 100%;
    background-color:white;
    height: 533px;
    text-align: center;
}
footer{
    padding: 20px;
    text-align: center;
    color: black;
    position:static;
}

